/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700"); */

body {
  font-family: "PT Sans";
  background-color: #98a4d0;
  color: #0F67B1;
  text-align: center;
  padding: 25px;
}

h1, h2, h3 {
  font-family: "PT Sans";
  color: #023d6c;
}

li {
  display: inline;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: #4B0377;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
}

a:hover {
  color: #ff0011;
  font-size: 24px ;
}

.card {
  background-color: #EEEEEE;
  padding: 50px;
  width: 500px;
  margin: 25px auto;
  border-radius: 5px;
  border: 1px solid #570A57;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
}

#profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}


.pt-sans-regular {
  font-family: "PT Sans", system-ui;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", system-ui;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", system-ui;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", system-ui;
  font-weight: 700;
  font-style: italic;
}
